# Core Libraries
numpy
pandas
librosa
matplotlib
seaborn
scipy
soundfile

# Machine Learning & Deep Learning
torch
torchaudio
tensorflow
transformers
scikit-learn

# Jupyter Notebook & IPython
notebook
jupyter
ipywidgets
IPython

# Audio and Video Processing
moviepy
yt-dlp

# Optional (if you plan to use pytube elsewhere in your project)
pytube


# new ones
pydub

